/* * {
  margin:0;
  padding: 0;
} */
ul.topbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.topbar-list {
  float: left;
}

li.topbar-list  a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.topbar-list a:hover {
  background-color: #111;
}

input[type="text"],
[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

ul.error-message {
  background: white;
  color: red;
  font-weight: bold;
  list-style-type: square;
}
.user-img {
  width: 10px;
  opacity: 1;
}
.article-meta img {
  width: 30px;
  float: left;
  margin-right: 10px;
}
.info-link {
  text-decoration: none;
  margin-right: 10px;
  font-style: bold;
  color: green;
}
.date {
  font-style: italic;
}
.preview-link h1 {
  color: green;
}

a.preview-link {
  text-decoration: none;
}
.preview-link p {
  color: gray;
}
.preview-link span {
  color: #000;
}
.col-md-9 {
  width: 70%;
  float: left;
}
.col-md-3 {
  width: 30%;
  float: right;
}
.clearBoth {
  clear: both;
}


.pagination {
  list-style-type:none;
  
}

li.pagination-list  {
  float: left;
}

li.pagination-list a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.pagination-list a:hover:not(.active) {background-color: #ddd;}